<h1>Password Generator</h1>
<form action="{% url 'password' %}">
   <select name="length">
	 <option value="6">6</option>
	 <option value="7">7</option>
	 <option value="8">8</option>
	 <option value="9">9</option>
	 <option value="10"selected='selected'>10</option>
	 <option value="11">11</option>
	 <option value="12">12</option>
   </select>
   <br>
   <input type="checkbox" name ="uppercase">uppercase
   <br>
   <input type="checkbox" name ="number">numbers
   <br>
   <input type="checkbox" name= "lowercase">lowercase
   <br>
   <input type="submit" value="Generate Password">
</form>